
IBAN_Validation/.vs/IBAN_Validation/v16/.suo
IBAN_Validation/.vs/IBAN_Validation/v16/TestStore/0/000-0000.testlog
IBAN_Validation/.vs/IBAN_Validation/v16/TestStore/0/testlog.manifest
IBAN_Validation/IBAN_Validation.sln
IBAN_Validation/IBAN_Validation/App.config
IBAN_Validation/IBAN_Validation/App.xaml
IBAN_Validation/IBAN_Validation/App.xaml.cs
IBAN_Validation/IBAN_Validation/IBAN_Validation.csproj
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/db.lock
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide-shm
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide-wal
IBAN_Validation/IBAN_Validation/obj/Debug/App.g.i.cs
IBAN_Validation/IBAN_Validation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csprojAssemblyReference.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.i.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.i.lref
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.g.i.cs
IBAN_Validation/IBAN_Validation/Properties/AssemblyInfo.cs
IBAN_Validation/IBAN_Validation/Properties/Resources.Designer.cs
IBAN_Validation/IBAN_Validation/Properties/Resources.resx
IBAN_Validation/IBAN_Validation/Properties/Settings.Designer.cs
IBAN_Validation/IBAN_Validation/Properties/Settings.settings
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.exe
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.exe.config
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.pdb
IBAN_Validation/IBAN_Validation/obj/Debug/App.g.cs
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csproj.FileListAbsolute.txt
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csproj.GenerateResource.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.exe
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.g.resources
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.pdb
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.Properties.Resources.resources
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.lref
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.baml
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.g.cs
