
IBAN_Validation/.vs/IBAN_Validation/v16/.suo
IBAN_Validation/.vs/IBAN_Validation/v16/TestStore/0/000-0000.testlog
IBAN_Validation/.vs/IBAN_Validation/v16/TestStore/0/testlog.manifest
IBAN_Validation/IBAN_Validation.sln
IBAN_Validation/IBAN_Validation/App.config
IBAN_Validation/IBAN_Validation/App.xaml
IBAN_Validation/IBAN_Validation/App.xaml.cs
IBAN_Validation/IBAN_Validation/IBAN_Validation.csproj
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/db.lock
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide-shm
IBAN_Validation/.vs/IBAN_Validation/v16/Server/sqlite3/storage.ide-wal
IBAN_Validation/IBAN_Validation/obj/Debug/App.g.i.cs
IBAN_Validation/IBAN_Validation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csprojAssemblyReference.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.i.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.i.lref
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.g.i.cs
IBAN_Validation/IBAN_Validation/Properties/AssemblyInfo.cs
IBAN_Validation/IBAN_Validation/Properties/Resources.Designer.cs
IBAN_Validation/IBAN_Validation/Properties/Resources.resx
IBAN_Validation/IBAN_Validation/Properties/Settings.Designer.cs
IBAN_Validation/IBAN_Validation/Properties/Settings.settings
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.exe
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.exe.config
IBAN_Validation/IBAN_Validation/bin/Debug/IBAN_Validation.pdb
IBAN_Validation/IBAN_Validation/obj/Debug/App.g.cs
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csproj.FileListAbsolute.txt
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.csproj.GenerateResource.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.exe
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.g.resources
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.pdb
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation.Properties.Resources.resources
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.cache
IBAN_Validation/IBAN_Validation/obj/Debug/IBAN_Validation_MarkupCompile.lref
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.baml
IBAN_Validation/IBAN_Validation/obj/Debug/MainWindow.g.cs
IBAN_Validation/IBAN_validationTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IBAN_Validation/IBAN_validationTests/Properties/AssemblyInfo.cs
IBAN_Validation/IBAN_validationTests/IBAN_validationTests.csproj
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/IBAN_Validation.exe
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/IBAN_Validation.exe.config
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/IBAN_Validation.pdb
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/IBAN_Validation_Tests.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/IBAN_Validation_Tests.pdb
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.abstractions.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.assert.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.assert.xml
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.core.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.core.xml
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.execution.desktop.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.execution.desktop.xml
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.runner.reporters.net452.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.runner.utility.net452.dll
IBAN_Validation/IBAN_Validation_Tests/bin/Debug/xunit.runner.visualstudio.testadapter.dll
IBAN_Validation/IBAN_Validation_Tests/IBAN_Validation_Tests.csproj
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/IBAN_Validation_Tests.csproj.CopyComplete
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/IBAN_Validation_Tests.csproj.FileListAbsolute.txt
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/IBAN_Validation_Tests.csprojAssemblyReference.cache
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/IBAN_Validation_Tests.dll
IBAN_Validation/IBAN_Validation_Tests/packages.config
IBAN_Validation/IBAN_Validation_Tests/Properties/AssemblyInfo.cs
IBAN_Validation/IBAN_Validation_Tests/obj/Debug/IBAN_Validation_Tests.pdb
IBAN_Validation/IBAN_validationTests/IBANmethods_test.cs
IBAN_Validation/IBAN_validationTests/obj/Debug/IBAN_validationTests.csprojAssemblyReference.cache
IBAN_Validation/IBAN_validationTests/packages.config
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/.signature.p7s
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/Icon.png
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/xunit.runner.visualstudio.2.4.3.nupkg
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.dll
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/xunit.extensibility.execution.2.4.1.nupkg
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/lib/netstandard1.1/xunit.execution.dotnet.xml
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/.signature.p7s
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.abstractions.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.utility.net452.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.reporters.net452.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.visualstudio.props
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/net452/xunit.runner.visualstudio.testadapter.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.abstractions.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/netcoreapp2.1/xunit.runner.visualstudio.props
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.reporters.netstandard15.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.netstandard15.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.uwp10.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.utility.uwp10.pri
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.props
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.targets
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.uwp.testadapter.dll
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/build/uap10.0.16299/xunit.runner.visualstudio.uwp.testadapter.pri
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/License.txt
IBAN_Validation/packages/xunit.runner.visualstudio.2.4.3/logo-512-transparent.png
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.xml
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/lib/net452/xunit.execution.desktop.dll
IBAN_Validation/packages/xunit.extensibility.execution.2.4.1/.signature.p7s
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/xunit.extensibility.core.2.4.1.nupkg
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.xml
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/netstandard1.1/xunit.core.dll
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.utility.net452.dll
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.runner.tdnet.dll
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.xml
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll.tdnet
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/lib/net452/xunit.core.dll
IBAN_Validation/packages/xunit.extensibility.core.2.4.1/.signature.p7s
IBAN_Validation/packages/xunit.core.2.4.1/xunit.core.2.4.1.nupkg
IBAN_Validation/packages/xunit.core.2.4.1/buildMultiTargeting/xunit.core.targets
IBAN_Validation/packages/xunit.core.2.4.1/buildMultiTargeting/xunit.core.props
IBAN_Validation/packages/xunit.core.2.4.1/build/xunit.core.targets
IBAN_Validation/packages/xunit.core.2.4.1/.signature.p7s
IBAN_Validation/packages/xunit.core.2.4.1/build/xunit.core.props
IBAN_Validation/packages/xunit.assert.2.4.1/xunit.assert.2.4.1.nupkg
IBAN_Validation/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.xml
IBAN_Validation/packages/xunit.assert.2.4.1/lib/netstandard1.1/xunit.assert.dll
IBAN_Validation/packages/xunit.assert.2.4.1/.signature.p7s
IBAN_Validation/packages/xunit.analyzers.0.10.0/xunit.analyzers.0.10.0.nupkg
IBAN_Validation/packages/xunit.analyzers.0.10.0/tools/uninstall.ps1
IBAN_Validation/packages/xunit.analyzers.0.10.0/tools/install.ps1
IBAN_Validation/packages/xunit.analyzers.0.10.0/analyzers/dotnet/cs/xunit.analyzers.dll
IBAN_Validation/packages/xunit.analyzers.0.10.0/.signature.p7s
IBAN_Validation/packages/xunit.abstractions.2.0.3/xunit.abstractions.2.0.3.nupkg
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.xml
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.dll
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.xml
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.dll
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.xml
IBAN_Validation/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.dll
IBAN_Validation/packages/xunit.abstractions.2.0.3/.signature.p7s
IBAN_Validation/packages/xunit.2.4.1/.signature.p7s
IBAN_Validation/packages/xunit.2.4.1/xunit.2.4.1.nupkg
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/MSTest.TestFramework.2.2.8.nupkg
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/net5.0-windows10.0.18362.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
IBAN_Validation/packages/MSTest.TestFramework.2.2.8/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
